/* 
    Created on : 31 août 2014, 01:56:48
    Author     : Lenak
*/

#vcadr_exemple
{
	width: 600px;
	box-shadow: 0 0 2px black;
	border-radius: 4px;
}

.si:hover
{
	box-shadow: 0 -1px 2px black, 0 -2px 1px -1px white inset;
	position: relative;
	top: 1px;
	cursor: pointer;
}

.vcard_head
{
	padding: 5px;
	background: #cb60b3; /* Old browsers */
	background: -moz-linear-gradient(top,  #cb60b3 0%, #aa087c 94%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb60b3), color-stop(94%,#aa087c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cb60b3 0%,#aa087c 94%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cb60b3 0%,#aa087c 94%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cb60b3 0%,#aa087c 94%); /* IE10+ */
	background: linear-gradient(to bottom,  #cb60b3 0%,#aa087c 94%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#aa087c',GradientType=0 ); /* IE6-9 */
}


.vcard_head .vcard_name
{
	font-family: 'Lobster', fantasy;
	font-size: large;
}

.vcard_head .vcard_role
{
	float: right;
}

.vcard_content
{
	box-shadow: 0 1px 1px black inset;
	clear: right;
	height: 230px;
	padding: 5px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.vcard_picture
{
	float: right;
}

.vcard_decription
{
	clear: right;
}

.vcard_basics_infos ul
{
	list-style: none;
	font-style: italic;
}

.vcard_footer
{
	padding: 5px;
	padding-bottom: 1px;
	box-shadow: 0 -2px 3px -1px black ;
	background: #bababa; /* Old browsers */
	background: -moz-linear-gradient(top,  #bababa 0%, #9e9e9e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bababa), color-stop(100%,#9e9e9e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bababa 0%,#9e9e9e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bababa 0%,#9e9e9e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bababa 0%,#9e9e9e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #bababa 0%,#9e9e9e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bababa', endColorstr='#9e9e9e',GradientType=0 ); /* IE6-9 */
}

.vcard_social
{
	display: inline;
}

.vcard_action
{
	float: right;
	position: relative;
	top: 2px;
}

.vcard_action a {
	-moz-box-shadow:inset 0px 1px 5px 0px #dec6e3;
	-webkit-box-shadow:inset 0px 1px 5px 0px #dec6e3;
	box-shadow:inset 0px 1px 5px 0px #dec6e3;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d5b6db), color-stop(1, #a38aa8) );
	background:-moz-linear-gradient( center top, #d5b6db 5%, #a38aa8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5b6db', endColorstr='#a38aa8');
	background-color:#d5b6db;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	text-indent:0;
	border:1px solid #312433;
	display:inline-block;
	color:#473e47;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:90px;
	text-decoration:none;
	text-align:center;
	text-shadow:2px 1px 2px #b68abf;
}
.vcard_action a:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a38aa8), color-stop(1, #d5b6db) );
	background:-moz-linear-gradient( center top, #a38aa8 5%, #d5b6db 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a38aa8', endColorstr='#d5b6db');
	background-color:#a38aa8;
}.vcard_action a:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */