/* 
    Created on : 31 août 2014, 00:18:08
    Author     : Lenak
*/



html, body, header, #auth, #banner, #menu
{
	width: 100%;
	margin: 0;
}

body, html
{
	background-color: #eee;
	height: 100%;
}

h1, h2, h3
{
	font-family: 'Lobster', fantasy;
}

label
{
	display: inline-block;
	width: 200px;
	font-family: 'Lobster', fantasy;
	font-size: large;
}

label:after
{
	content: ' :';
}

input
{
	padding: 5px;
	box-shadow: 0 0 2px black inset;
	border: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	height: 30px;
	margin: 10px;
	width: 300px;
}

.button, input[type=submit]
{
	-moz-box-shadow:inset 0px 1px 5px 0px #cccccc;
	-webkit-box-shadow:inset 0px 1px 5px 0px #cccccc;
	box-shadow:inset 0px 1px 5px 0px #cccccc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d9d9d9), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #d9d9d9 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9d9d9', endColorstr='#dfdfdf');
	background-color:#d9d9d9;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:80px;
	text-decoration:none;
	text-align:center;
	text-shadow:2px 1px 2px #a8a8a8;
	cursor: pointer;
	padding: 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.button, input[type=submit]:hover
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #d9d9d9) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #d9d9d9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#d9d9d9');
	background-color:#dfdfdf;
}

.button, input[type=submit]:active
{
	position:relative;
	top:1px;
}

#content
{
	color: #4f4f4f;
	width: 60%;
	margin: 0 auto;
	padding: 40px 10px;
	min-height: calc(100% - 395px);
}

#auth
{
	padding: 5px 0;
	text-align: right;
	background: #4f4f4f; /* Old browsers */
	background: -moz-linear-gradient(top,  #4f4f4f 0%, #131313 82%, #666666 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f4f4f), color-stop(82%,#131313), color-stop(100%,#666666)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4f4f4f 0%,#131313 82%,#666666 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4f4f4f 0%,#131313 82%,#666666 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4f4f4f 0%,#131313 82%,#666666 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4f4f4f 0%,#131313 82%,#666666 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
}

#auth
{
	height: 30px;
	padding-right: 20px;
	width: calc(100% - 20px);
}

#auth span
{
	color: white;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
	font-family: 'Lobster', fantasy;
}

#auth form
{
	margin-right: 10px;
	display: inline;
}

#auth form input
{
	margin: 0;
	height: 20px;
	width: 150px;
}

#auth form input[type=checkbox]
{
	width: 40px;
	vertical-align: middle;
}
#auth form input[type=submit], #auth .button 
{
	-moz-box-shadow:inset 0px 1px 5px 0px #e184f3;
	-webkit-box-shadow:inset 0px 1px 5px 0px #e184f3;
	box-shadow:inset 0px 1px 5px 0px #e184f3;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c123de), color-stop(1, #a20dbd) );
	background:-moz-linear-gradient( center top, #c123de 5%, #a20dbd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c123de', endColorstr='#a20dbd');
	background-color:#c123de;
	border:1px solid #a511c0;
	color:#ffffff;
	height:25px;
	line-height:25px;
	width:90px;
	text-shadow:2px 1px 2px #9b14b3;
}

#auth form input[type=submit]:hover, #auth .button:hover
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a20dbd), color-stop(1, #c123de) );
	background:-moz-linear-gradient( center top, #a20dbd 5%, #c123de 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a20dbd', endColorstr='#c123de');
	background-color:#a20dbd;
}

#auth form input[type=submit]:active, #auth .button:active
{
	position:relative;
	top:1px;
}

#auth form input[type=submit]
{
	height: 27px;
	position: relative;
	top: 1px;
}

#banner
{
	font-family: 'Audiowide', cursive;
	text-align: center;
	vertical-align: middle;
	height: 150px;
	font-size: 5em;
	color: #eee;
	padding-top: 25px;
	text-shadow: 3px 3px 6px black;
	background: #cb60b3; /* Old browsers */
	background: -moz-linear-gradient(top,  #cb60b3 0%, #ad1283 94%, #de47ac 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb60b3), color-stop(94%,#ad1283), color-stop(100%,#de47ac)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cb60b3 0%,#ad1283 94%,#de47ac 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cb60b3 0%,#ad1283 94%,#de47ac 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cb60b3 0%,#ad1283 94%,#de47ac 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cb60b3 0%,#ad1283 94%,#de47ac 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#de47ac',GradientType=0 ); /* IE6-9 */
}

#menu, footer
{
	height: 50px;
	background: #4f4f4f; /* Old browsers */
	background: -moz-linear-gradient(top,  #4f4f4f 0%, #131313 82%, #666666 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f4f4f), color-stop(82%,#131313), color-stop(100%,#666666)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4f4f4f 0%,#131313 82%,#666666 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4f4f4f 0%,#131313 82%,#666666 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4f4f4f 0%,#131313 82%,#666666 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4f4f4f 0%,#131313 82%,#666666 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
}

#menu ul
{
	display: block;
	width: 60%;
	margin: 0 auto;
	font-family: 'Audiowide', fantasy;
	list-style: none;
}

#menu a, #menu a:hover, #menu a:visited
{
	text-decoration: none;
	color: #eee;
}

#menu ul li
{
	display: inline-block;
	padding: 1em 2em;
}

#menu ul li:hover
{
	display: inline-block;
	padding: 1em 2em;
	background-color: rgba(250,250,250,0.1);
}