
/* 
    Created on : 31 août 2014, 13:34:35
    Author     : Lenak
*/



.si
{
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	background-image: url('../img/Social-Icons-black.png');
}

.si_white
{
	background-image: url('../img/Social-Icons-white.png');
}

.si_natural
{
	background-image: url('../img/Social-Icons-natural.png');
}

.si_facebook
{
	background-position: -250px -10px;
}

.si_twitter
{
	background-position: -430px -70px;
}

.si_aim
{
	background-position: -10px -70px;
}

.si_apple
{
	background-position: -70px -70px;
}

.si_behance
{
	background-position: -10px -10px;
}

.si_cargo
{
	background-position: -70px -10px;
}

.si_delicious
{
	background-position: -130px -70px;
}

.si_deviantart
{
	background-position: -190px -70px;
}

.si_digg
{
	background-position: -250px -70px;
}

.si_dopplr
{
	background-position: -130px -10px;
}

.si_dribbble
{
	background-position: -310px -70px;
}

.si_ember
{
	background-position: -190px -10px;
}

.si_flickr
{
	background-position: -310px -10px;
}

.si_forrst
{
	background-position: -370px -10px;
}

.si_google
{
	background-position: -370px -70px;
}

.si_googleplus
{
	background-position: -10px -130px;
}

.si_gowalla
{
	background-position: -70px -130px;
}

.si_grooveshark
{
	background-position: -130px -130px;
}

.si_html5
{
	background-position: -190px -130px;
}

.si_icloud
{
	background-position: -250px -130px;
}

.si_lastfm
{
	background-position: -310px -130px;
}

.si_linkedin
{
	background-position: -370px -130px;
}

.si_metacafe
{
	background-position: -10px -190px;
}

.si_mixx
{
	background-position: -70px -190px;
}

.si_myspace
{
	background-position: -130px -190px;
}

.si_myspace2
{
	background-position: -190px -190px;
}

.si_netvibes
{
	background-position: -250px -190px;
}

.si_newsvine
{
	background-position: -310px -190px;
}

.si_orkut
{
	background-position: -370px -190px;
}

.si_paypal
{
	background-position: -10px -250px;
}

.si_picasa
{
	background-position: -70px -250px;
}

.si_plurk
{
	background-position: -10px -310px;
}

.si_posterous
{
	background-position: -130px -250px;
}

.si_reddit
{
	background-position: -190px -250px;
}

.si_retweet
{
	background-position: -250px -250px;
}

.si_rss
{
	background-position: -310px -250px;
}

.si_share
{
	background-position: -370px -250px;
}

.si_skype
{
	background-position: -430px -190px;
}

.si_technorati
{
	background-position: -430px -250px;
}

.si_tumblr
{
	background-position: -430px -130px;
}

.si_twitter2
{
	background-position: -430px -10px;
}

.si_vimeo
{
	background-position: -70px -310px;
}

.si_wordpress
{
	background-position: -130px -310px;
}

.si_yahoo
{
	background-position: -190px -310px;
}

.si_yelp
{
	background-position: -250px -310px;
}

.si_youtube
{
	background-position: -310px -310px;
}

.si_youtube2
{
	background-position: -370px -310px;
}

.si_zerply
{
	background-position: -430px -310px;
}